#footer= 'Sota llicència ' 
  a(rel='nofollow', target='_blank', href='https://creativecommons.org/licenses/by-sa/4.0/') CC-BY-SA-4.0
  |  si no s'indica el contrari. Funcionant amb
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo
  | . Tema basat en 
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo') Maupassant
  |  de
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
